<!-- Versión -->
<div class="project-mobile">
  <div class="index">
      <a href="/views/fashion.html" class="dual-link-mobile">
          <div class="gif-container-mobile">
            <img
              src="/assets/images/collage-mobile.png"
              alt="fashion"
              class="hover-gif-mobile"
              data-gif="/assets/images/fashion.gif"
              data-static="/assets/images/collage-bg.png"
            />
          </div>
      </a>

    <div class="text-line">
      <p class="pp-air">dirección creativa</p>
      <p class="pp-air">·</p>
      <p class="pp-air">estilismo</p>
    </div>
  </div>

  <!-- Logo móvil -->
  <a class="logo" href="/index.html">
    <img id="logo-img-mobile" src="/assets/images/logo1-mobile.png" alt="Logo Miriam Reina" />
  </a>

  <div class="index">
    <div class="text-line">
      <p class="pp-air">web</p>
      <p class="pp-air">·</p>
      <p class="pp-air">visual design</p>
    </div>

    <div>
      <a href="/views/graphic.html" class="dual-link-mobile">
        <div class="gif-container-mobile">
          <img
            src="/assets/images/graphic.png"
            alt="graphic"
            class="hover-gif-mobile"
            data-gif="/assets/images/graphic.gif"
            data-static="/assets/images/graphic.png"
          />
        </div>
      </a>
  </div>
</div>