<footer class="footer">
  <div class="footer-top">
    <div class="footer-left">
      <img class="logo-index-footer" src="/assets/images/logo2.png">
      <div class="footer-socials">
        <a href="#" aria-label="Instagram"><img src="/assets/icons/instagram.svg" alt="Instagram"></a>
        <a href="#" aria-label="LinkedIn"><img src="/assets/icons/linkedin.svg" alt="LinkedIn"></a>
      </div>
    </div>
    <div class="footer-right">
      <nav class="footer-nav">
        <a href="/works.html">works</a>
        <a href="/services.html">services</a>
        <a href="/about.html">about</a>
      </nav>
      <a href="/contact.html" class="footer-btn"><p>get in contact</p><p>→</p></a>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-bottom-container">
    <button
      class="theme-toggle"
      type="button"
      aria-label="Toggle theme"
      title="Dark mode"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        width="1em"
        height="1em"
        class="theme-toggle__dark-side"
        fill="currentColor"
        viewBox="0 0 32 32"
      >
        <path d="M16 .5C7.4.5.5 7.4.5 16S7.4 31.5 16 31.5 31.5 24.6 31.5 16 24.6.5 16 .5zm0 28.1V3.4C23 3.4 28.6 9 28.6 16S23 28.6 16 28.6z" />
      </svg>
    </button>
      <div class="footer-language">
      <button>EN</button> · <button>ES</button>
    </div>
    </div>
     <div class="footer-bottom-container">
    <p>2025 © Miriam Reina All Rights Reserved</p>
    <div class="footer-links">
      <a href="/privacy.html">Política de privacidad</a>
      <a href="/legal.html">Aviso Legal</a>
      <a href="/cookies.html">Política de cookies</a>
    </div>
    </div>
  </div>
</footer>