<!-- Header -->
<header class="header white-header">

<a class="logo" href="/index.html">
  <img id="logo-img" src="/assets/images/logo1.png" alt="Miriam Reina logo" />
</a>

<nav class="selector">
  <div class="breadcrumb-div-container">
    <span class="nav-span">[</span>
    <a href="/index.html">proyectos</a>
    <div id="breadcrumb-container" style="display:none;"></div>
    <span class="nav-span">]</span>
  </div>
  <a href="about.html">about</a>
</nav>

  <!-- Nuevo botón hamburguesasd animado -->
  <div class="hamburger">
    <a href="#main-nav" class="main-nav-toggle" id="menu-toggle"><i>Menu</i></a>
  </div>
</header>

<!-- Menú hamburguesa overlay -->
<div class="mobile-menu" id="mobile-menu">


<nav class="mobile-nav">
  <a href="/fashion.html" data-section="moda">moda</a>
  <a href="/graphic.html" data-section="gráfico">gráfico</a>
  <a href="/web.html" data-section="web">web dev</a>
  <a href="/about.html" data-section="about">about</a>
</nav>

  <div class="mobile-footer">
  </div>
</div>
